@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    width: 100%;
    padding: 1rem 0;
    transition: all linear .2s;
}

input, button {
    font-family: inherit;
}

.dark {
    color: white;
    background: black;
}

.light {
    color: black;
    background: white;
}